@model rainbow.Domain.Demo.Demonstracao

@{
    ViewBag.Title = "Delete";
}




    <div id="confirmModalError" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header popupHeader">
                    <h3 class="modal-title">Apagar demo de @Model.Cliente.NomeCliente?</h3>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">

                        <p><b>Cliente</b> @Model.Cliente.NomeCliente</p>
                        <p><b>Data da demo</b> @Model.DataMarcacao.ToShortDateString()</p>
                        <p><b>Recomendações</b> @Model.Cliente.Recomendacao.Where(r => r.DemonstracaoGuid == Model.DemoUniqueId).Count() em sistema</p>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-default" />
                        @Html.ActionLink("Voltar", "Details", "Clientes", new { id = Model.ClientId }, new { @class = "btn btn-info btn-small" })
                    </div>
                }
            </div>
            

            </div>
    </div>


    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#confirmModalError').modal('show');

        });

    </script>

    <script>
        $('#confirmModalError').modal({
            backdrop: 'static',
            keyboard: false
        })
    </script>
}

