@model rainbow.Domain.Demo.Demonstracao

@{
    ViewBag.Title = "Details";
}

<style>
    .profile-img-container {
        position: relative;
        display: inline-block; /* added */
        overflow: hidden; /* added */
    }

        .profile-img-container img {
            width: 100%;
        }
            /* remove if using in grid system */

            .profile-img-container img:hover {
                opacity: 0.5
            }

        .profile-img-container:hover p {
            opacity: 1; /* added */
            top: 0; /* added */
            z-index: 500;
        }
            /* added */
            .profile-img-container:hover p span {
                top: 50%;
                position: absolute;
                left: 0;
                right: 0;
                transform: translateY(-50%);
            }
        /* added */
        .profile-img-container p {
            display: block;
            position: absolute;
            top: -100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
        }
</style>

<h2>Details</h2>

@using (Html.BeginForm("UrlReferrer"))
{

    <div>
        <h4>Demonstracao</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Campanha.DescricaoCampanha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Campanha.DescricaoCampanha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marcador.NomeMarcador)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marcador.NomeMarcador)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Premio.DescricaoPremio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Premio.DescricaoPremio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoVisita.NomeTipoVisita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoVisita.NomeTipoVisita)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataMarcacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataMarcacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DemoFinalizada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DemoFinalizada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RazaoNaoFinalizacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RazaoNaoFinalizacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClienteComprou)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClienteComprou)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdentificacaoVenda)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdentificacaoVenda)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RazaoNaoCompra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RazaoNaoCompra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConvidadoParaCasaAberta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConvidadoParaCasaAberta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClienteAceitouConviteParaCasaAberta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClienteAceitouConviteParaCasaAberta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SucessoRecrutamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SucessoRecrutamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DemoStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DemoStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Obs)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Obs)
            </dd>

            <dd>
                @{
                    if (!string.IsNullOrEmpty(Model.ImagemFichaDeDemo))
                    {

                        <a class="popupimage" href="@Url.Content(Model.ImagemFichaDeDemo)">
                            <div class="profile-img-container">
                                <img title="Ficha de Demo" class="img-thumbnail img-responsive" src="@Url.Content(Model.ImagemFichaDeDemo)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                <p><span title="Ficha de Demo" class="fa fa-search-plus fa-2x" style="color:darkgray"></span></p>
                            </div>
                        </a>


                        @*<a class="popupimage" href="@Url.Content(Model.ImagemFichaDeDemo)">ver</a>*@
                    }


                }

            </dd>

            <dd>
                @{
                    if (!string.IsNullOrEmpty(Model.ImagemRecomendacoes))
                    {

                        <a class="popupimage" href="@Url.Content(Model.ImagemRecomendacoes)">
                            <div class="profile-img-container">
                                <img class="popupimage img-thumbnail img-responsive" src="@Url.Content(Model.ImagemRecomendacoes)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                <p><span title="Ficha de recomendações - Página 1" class="fa fa-search-plus fa-2x" style="color:darkgray"></span></p>
                            </div>
                        </a>


                        @*<a class="popupimage" href="@Url.Content(Model.ImagemFichaDeDemo)">ver</a>*@
                    }


                }

            </dd>


            <dd>
                @{
                    if (!string.IsNullOrEmpty(Model.ImagemRecomendacoes1))
                    {

                        <a class="popupimage" href="@Url.Content(Model.ImagemRecomendacoes1)">
                            <div class="profile-img-container">
                                <img class="popupimage img-thumbnail img-responsive" src="@Url.Content(Model.ImagemRecomendacoes1)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                <p><span title="Ficha de recomendações - Página 2" class="fa fa-search-plus fa-2x" style="color:darkgray"></span></p>
                            </div>
                        </a>

                    }
                }

            </dd>

            <dd>
                @{
                    if (!string.IsNullOrEmpty(Model.ImagemRecomendacoes2))
                    {

                        <a class="popupimage" href="@Url.Content(Model.ImagemRecomendacoes2)">
                            <div class="profile-img-container">
                                <img class="popupimage img-thumbnail img-responsive" src="@Url.Content(Model.ImagemRecomendacoes2)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                <p><span title="Ficha de recomendações - Página 3" class="fa fa-search-plus fa-2x" style="color:darkgray"></span></p>
                            </div>
                        </a>

                    }
                }

            </dd>

            <dd>
                @{
                    if (!string.IsNullOrEmpty(Model.ImagemRecomendacoes3))
                    {

                        <a class="popupimage" href="@Url.Content(Model.ImagemRecomendacoes3)">
                            <div class="profile-img-container">
                                <img class="popupimage img-thumbnail img-responsive" src="@Url.Content(Model.ImagemRecomendacoes3)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                <p><span title="Ficha de recomendações - Página 4" class="fa fa-search-plus fa-2x" style="color:darkgray"></span></p>
                            </div>
                        </a>

                    }
                }

            </dd>

            <dd>
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <img src='' class="img-responsive" width="100%" />
                        </div>
                    </div>
                </div>
            </dd>

        </dl>
    </div>

    
}

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DemonstracaoId }) |

        @{
        string urlRef = ViewBag.UrlReferrer;
        if (String.IsNullOrEmpty(urlRef))
        {
            @Html.ActionLink("Voltar", "Details", "Clientes", new { id = Model.ClientId }, new { @class = "btn btn-info btn-small" })
    }
    else
    {
        <a class="btn btn-info" href="@ViewBag.UrlReferrer">Voltar</a>
}
        }




    </p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.popupimage').click(function (event) {
                event.preventDefault();
                $('.modal img').attr("src", $(this).attr("href"));
                $('.modal').modal('show');
            });
        });
    </script>

}
