@model rainbow.Domain.Animais.AnimalEstimacao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnimalEstimacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAnimal.TipoAnimalDesignacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAnimal.TipoAnimalDesignacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAnimalEstimacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAnimalEstimacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Voltar", "Details", "Clientes", new { id = Model.ClientId }, new { @class = "btn btn-info btn-small" })
    </div>
    }
</div>
