@model rainbow.Domain.Premios.Premio

@{
    ViewBag.Title = "Create";
}

<!-- Bootstrap -->
<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="~/build/css/custom.min.css" rel="stylesheet">

<!-- iCheck -->
<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-wysiwyg -->
@*<link href="~/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">*@
<!-- Select2 -->
<link href="~/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
<!-- Switchery -->
<link href="~/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
<!-- starrr -->
<link href="~/vendors/starrr/dist/starrr.css" rel="stylesheet">
<!-- bootstrap-daterangepicker -->
<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<!--Custom styles-->
<link href="~/Content/customStyles.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Prémios</h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Adicionar nova demonstração</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="form-horizontal">
                                <h4>Premio</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DescricaoPremio, new { htmlAttributes = new { @class = "form-control has-feedback-left ", placeholder = "Descrição do prémio" } })
                                        @Html.ValidationMessageFor(model => model.DescricaoPremio, "", new { @class = "text-danger" })
                                        <span class="fa fa-list form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6" data-toggle="tooltip" data-placement="top" title="Data inicio oferta">
                                        <input class="date-picker form-control col-md-7 col-xs-12 text-box single-line has-feedback-left camposNormais" data-val="true" data-val-date="The field Data Nascimento must be a date." id="DataInicioPremio" name="DataInicioPremio" type="date">
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        @Html.ValidationMessageFor(model => model.DataInicioPremio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6" data-toggle="tooltip" data-placement="top" title="Data fim da oferta">
                                        <input class="date-picker form-control col-md-7 col-xs-12 text-box single-line has-feedback-left camposNormais" data-val="true" data-val-date="The field Data Nascimento must be a date." id="DataFimPremio" name="DataFimPremio" type="date">
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        @Html.ValidationMessageFor(model => model.DataFimPremio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 camposNormais">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.EstadoPremio,
                                            new
                                            {
                                                htmlAttributes =
                                            new { data_toggle = "toggle", data_on = "Prémio ativo", data_off = "Prémio inativo", data_onstyle = "success", data_offstyle = "danger", type = "checkbox", data_width="200" }
                                            })
                                            @Html.ValidationMessageFor(model => model.EstadoPremio, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12">
                                        @Html.EditorFor(model => model.Obs, new { htmlAttributes = new { @class = "form-control has-feedback-left margemBottom10 notas", placeholder = "Notas adicionais" } })
                                        <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /page content -->
}


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    @*<script src="/build/js/custom.min.js"></script>*@


    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="../vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="../vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="../vendors/starrr/dist/starrr.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



    <script>
                                        //$().DataTable();
    </script>

    @*<script>
            function init_daterangepicker_single_call() {


                $('#DataNascimentoCliente').daterangepicker({
                    singleDatePicker: true,
                    singleClasses: "picker_1"
                }, function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });

            }
        </script>*@

}

