@model rainbow.Domain.Premios.Premio

@{
    ViewBag.Title = "Delete";
}

<div id="confirmModalError" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header popupHeader">
                <h3 class="modal-title">Apagar campanha @Model.DescricaoPremio?</h3>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">

                    <p><b>Nome campanha</b> @Model.DescricaoPremio</p>
                    <p><b>Data de início</b> @Model.DataInicioPremio</p>
                    <p>
                        <b>Data de fim</b>
                        @{
                            DateTime dataFim = DateTime.Today.Date;

                            try
                            {
                                dataFim = Model.DataFimPremio.Value.Date;
                            }
                            catch (Exception)
                            {

                            }
                        }

                        @{
                            if (dataFim.Date != DateTime.Today.Date)
                            {
                                <span>@dataFim.ToShortDateString()</span>
                            }
                            else
                            {
                                <span>Sem informação</span>
                            }
                        }
                    </p>

                </div>
                <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-info btn-small" })
                </div>
            }
        </div>


    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#confirmModalError').modal('show');

        });

    </script>

    <script>
        $('#confirmModalError').modal({
            backdrop: 'static',
            keyboard: false
        })
    </script>
}

