@model rainbow.Backend.Models.ImagemRecomendacaoView

@{
    ViewBag.Title = "Create";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<h2>Nova recomendação de @ViewBag.ClientId</h2>

@using (Html.BeginForm("Create", "Recomendacoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-lg-6" style="float:left">

        <h3 style="text-align:left;">Contacto principal</h3>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NomeSr, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeSr, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome contacto principal" } })
                @Html.ValidationMessageFor(model => model.NomeSr, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @*@Html.LabelFor(model => model.IdadeSr, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdadeSr, new { htmlAttributes = new { @class = "form-control", placeholder = "Idade contacto principal" } })
                @Html.ValidationMessageFor(model => model.IdadeSr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TelemSr, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelemSr, new { htmlAttributes = new { @class = "form-control", placeholder = "Telemóvel contacto principal" } })
                @Html.ValidationMessageFor(model => model.TelemSr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProfissaoId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfissaoSr, new { htmlAttributes = new { @class = "form-control", placeholder = "Profissão contacto principal" } })
                @Html.ValidationMessageFor(model => model.ProfissaoSr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Localidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Localidade" } })
                @Html.ValidationMessageFor(model => model.Localidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.DropDownList("EstadoCivilId", null, htmlAttributes: new { @class = "form-control", placeholder = "Estado civil" })
                @Html.ValidationMessageFor(model => model.EstadoCivilId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.DropDownList("RelacaoId", null, htmlAttributes: new { @class = "form-control", placeholder = "Relação com cliente" })
                @Html.ValidationMessageFor(model => model.RelacaoId, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>

    <div class="col-lg-6" style="float:right;">

        <h3 style="text-align:left;">Contacto secundário</h3>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NomeSra, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeSra, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome contacto secundário" } })
                @Html.ValidationMessageFor(model => model.NomeSra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.IdadeSra, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdadeSra, new { htmlAttributes = new { @class = "form-control", placeholder = "Idade contacto secundário" } })
                @Html.ValidationMessageFor(model => model.IdadeSra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.TelemSra, new { htmlAttributes = new { @class = "form-control", placeholder = "Telemóvel contacto secundário" } })
                @Html.ValidationMessageFor(model => model.TelemSra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ProfissaoId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfisaoSra, new { htmlAttributes = new { @class = "form-control", placeholder = "Profissão contacto secundário" } })
                @Html.ValidationMessageFor(model => model.ProfisaoSra, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="col-lg-12" style="clear:both">

        <div class="form-group">
            @Html.LabelFor(model => model.ContactoPrioritario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ContactoPrioritario)
                    @Html.ValidationMessageFor(model => model.ContactoPrioritario, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @try
    {
        <input type="checkbox" data-toggle="toggle" id="ContactoPrioritario" name="ContactoPrioritario" value="@Model.ContactoPrioritario" checked="@Model.ContactoPrioritario" data-on="É cliente RB" data-off="Não é cliente RB" data-onstyle="success" data-offstyle="danger" data-style="slow">
}
catch (Exception)
{


}


        <div class="form-group">
            @Html.LabelFor(model => model.Recrutamento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Recrutamento)
                    @Html.ValidationMessageFor(model => model.Recrutamento, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Filhos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Filhos)
                    @Html.ValidationMessageFor(model => model.Filhos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Animais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Animais)
                    @Html.ValidationMessageFor(model => model.Animais, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteRB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ClienteRB)
                    @Html.ValidationMessageFor(model => model.ClienteRB, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OkParaContactar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.OkParaContactar)
                    @Html.ValidationMessageFor(model => model.OkParaContactar, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Voltar", "Details", "Clientes", new { id = ViewBag.comp }, new { @class = "btn btn-info btn-small" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>

        $(document).ready(function () {

            // Connect to 'change' event in order to toggle glyphs

            $("[type='checkbox']").change(function () {

                if ($(this).prop('checked')) {

                    $(this).prev().addClass('glyphicon-ok-circle');

                    $(this).prev().removeClass('glyphicon-unchecked');

                }

                else {

                    $(this).prev().removeClass('glyphicon-ok-circle');

                    $(this).prev().addClass('glyphicon-unchecked');

                }

            });

        });

    </script>

}
