@model rainbow.Domain.Recomendation.Recomendacao

@{
    ViewBag.Title = "Details";
}




<!-- Bootstrap -->
<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Datatables -->
<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="~/build/css/custom.min.css" rel="stylesheet">

<!--Custom styles-->
<link href="~/Content/customStyles.css" rel="stylesheet" />

<link href="https://code.highcharts.com/css/highcharts.css" rel="stylesheet" />

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="margin-top:10px;">
                <h3 style="font-size:30px;" class="label label-success">@Model.Cliente.NomeCliente.ToUpper()</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!--INFORMAÇÕES GENÉRICAS-->
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="font-size:20px;" class="label label-info">Recomendação: @Model.NomeSr</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i style="color:darkorange;" class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/Recomendacoes/Edit/@Model.RecomendacaoId">Editar recomendação @Model.NomeSr</a>
                                    </li>
                                    <li>
                                        <a href="/Recomendacoes/Delete/@Model.RecomendacaoId">Apagar demo de @Model.NomeSr</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Contacto principal</a>
                                </li>

                                @{
                                    if (!String.IsNullOrEmpty(Model.NomeSra))
                                    {
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Contacto secundário</a>
                                        </li>
                                    }
                                }

                                <li role="presentation" class="">
                                    <a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Demo</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content4" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Outros dados</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">

                                <div class="clearfix"></div>

                                <!--CONTACTO PRINCIPAL-->
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <dl class="dl-horizontal dadosRecomendacoes">

                                        <dt>
                                            Idade:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.IdadeSr)
                                        </dd>

                                        <dt>
                                            Estado civil:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.EstadoCivil.NomeEstadoCivil)
                                        </dd>

                                        <dt>
                                            Relação com cliente:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.RelacaoEntreContactos.DescricaoRelacao)
                                        </dd>

                                        <dt>
                                            Telemóvel:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TelemSr)
                                        </dd>

                                        <dt>
                                            Profissão:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ProfissaoSr)
                                        </dd>

                                        <dt>
                                            Localidade:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Localidade)
                                        </dd>


                                    </dl>
                                </div>
                                <!--/CONTACTO PRINCIPAL-->
                                <!--CONTACTO SECUNDÁRIO-->
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="tab">
                                    <dl class="dl-horizontal dadosRecomendacoes">
                                        <dt>
                                            Nome:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.NomeSra)
                                        </dd>

                                        <dt>
                                            Idade:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.IdadeSra)
                                        </dd>

                                        <dt>
                                            Telemóvel:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TelemSra)
                                        </dd>


                                        <dt>
                                            Profissão:
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ProfisaoSra)
                                        </dd>
                                    </dl>
                                </div>
                                <!--/CONTACTO SECUNDÁRIO-->

                                <!--DEMO-->
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="tab">
                                    <dl class="dl-horizontal dadosRecomendacoes">
                                        <dt>
                                            Demo marcada:
                                        </dt>

                                        <dd>
                                            @{
                                                if (@Model.DemoMarcada)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Demo marcada" />
                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Demo não marcada" />
                                                }
                                            }
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ClienteAceitouDemo)
                                        </dt>

                                        <dd>
                                            @{
                                                if (@Model.ClienteAceitouDemo)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Cliente aceitou demonstração" />

                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Cliente não aceitou demonstração" />
                                                }
                                            }

                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.DemoExecutada)
                                        </dt>

                                        <dd>

                                            @{
                                                if (Model.DemoExecutada)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png"  data-toggle="tooltip" data-placement="top" title="Demonstração executada" />
                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Demonstração não executada" />
                                                }
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <!--/DEMO-->

                                <!--OUTROS DADOS-->
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="tab">
                                    <dl class="dl-horizontal dadosRecomendacoes">

                                        <dt>
                                            Contacto prioritário:
                                        </dt>

                                        <dd>
                                            @{
                                                if (Model.ContactoPrioritario)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/dollar-sign.png" data-toggle="tooltip" data-placement="top" title="Cliente prioritário" />
                                                }
                                                else
                                                {
                                                    <p>Não</p>
                                                }
                                            }
                                        </dd>


                                        <dt>
                                            Cliente contactado:
                                        </dt>

                                        <dd>
                                            @{
                                                if (@Model.Contactado)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Cliente contactado" />
                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Cliente não contactado" />
                                                }
                                            }
                                        </dd>

                                       

                                        <dt>
                                            Filhos:
                                        </dt>

                                        <dd>

                                            @{

                                                if (@Model.Filhos)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Cliente tem filhos" />

                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Cliente não tem filhos" />
                                                }
                                            }

                                        </dd>

                                        <dt>
                                            Animais:
                                        </dt>

                                        <dd>
                                            @{
                                                if (@Model.Animais)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Cliente tem animais" />

                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Cliente não tem animais" />
                                                }
                                            }

                                        </dd>

                                        <dt>
                                            Recrutamento:
                                        </dt>

                                        <dd>
                                            @{
                                                if (@Model.Recrutamento)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Abordar cliente para recrutamento" />

                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Não abordar cliente para recrutamento" />
                                                }
                                            }

                                        </dd>

                                        <dt>
                                            Cliente Rainbow:
                                        </dt>

                                        <dd>
                                            @{
                                                if (@Model.ClienteRB)
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_up.png" data-toggle="tooltip" data-placement="top" title="Cliente tem Rainbow" />

                                                }
                                                else
                                                {
                                                    <img style="width:25px;" src="~/Content/Images/thumbs_down.png" data-toggle="tooltip" data-placement="top" title="Cliente não tem Rainbow" />
                                                }
                                            }
                                        </dd>

                                       

                                        @{
                                            if (!string.IsNullOrEmpty(Model.Obs))
                                            {
                                                <dt>
                                                    Notas:
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Obs)
                                                </dd>
                                            }
                                        }

                                    </dl>
                                </div>

                                <!--/OUTROS DADOS-->

                            </div>
                            </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts {

    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.popupimage').click(function (event) {
                event.preventDefault();
                $('.modal img').attr("src", $(this).attr("href"));
                $('.modal').modal('show');
            });
        });
    </script>
}