@model IEnumerable<object>

@*https://www.youtube.com/watch?v=AsUWnheMOos*@

@{
    /**/

    List<rainbow.Domain.Client.Cliente> clt = Model.ToList()[0] as List<rainbow.Domain.Client.Cliente>;
    List<rainbow.Domain.Recomendation.Recomendacao> recom = Model.ToList()[1] as List<rainbow.Domain.Recomendation.Recomendacao>;
    List<rainbow.Domain.Demo.Demonstracao> demo = Model.ToList()[2] as List<rainbow.Domain.Demo.Demonstracao>;
    List<rainbow.Domain.Agenda.EventosDeAgenda> agenda = Model.ToList()[3] as List<rainbow.Domain.Agenda.EventosDeAgenda>;
}

<link href="https://code.highcharts.com/css/highcharts.css" rel="stylesheet" />

<style>
    #container {
        height: 400px;
        max-width: 800px;
        margin: 0 auto;
    }

    /* Link the series colors to axis colors */
    .highcharts-color-0 {
        fill: #7cb5ec;
        stroke: #7cb5ec;
    }

    .highcharts-axis.highcharts-color-0 .highcharts-axis-line {
        stroke: #7cb5ec;
    }

    .highcharts-axis.highcharts-color-0 text {
        fill: #7cb5ec;
    }

    .highcharts-color-1 {
        fill: #90ed7d;
        stroke: #90ed7d;
    }

    .highcharts-axis.highcharts-color-1 .highcharts-axis-line {
        stroke: #90ed7d;
    }

    .highcharts-axis.highcharts-color-1 text {
        fill: #90ed7d;
    }


    .highcharts-yaxis .highcharts-axis-line {
        stroke-width: 2px;
    }
</style>


@{
    ViewBag.Title = "Dashboard";
}


<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Dashboard</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Contagem</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p><b>Clientes:</b> @clt.Count()</p>
                        <p><b>Total Recomendações:</b> <a href="~/Recomendacoes/"><span>@recom.Count()</span></a></p>
                        <p>
                            <b>OK's:</b>
                            @{
                                int oks = 0;
                                foreach (var item in recom)
                                {
                                    if (item.OkParaContactar && !item.DemoMarcada)
                                    {
                                        oks++;
                                    }
                                }

                                <a href="~/Recomendacoes?okParaContactar=true&DemoMarcada=false&demoExecutada=false"><span>@oks</span></a>

                                @*<a href='@string.Format("~/Recomendacoes?/search=true")'/>*@
                            }
                        </p>
                        <p>
                            <b>Percentagem Ok's:</b>
                            @{
                                int totalOks = 0;
                                int totalRecom = recom.Count();
                                double percentagemOks = 0;
                                foreach (var item in recom)
                                {
                                    if (item.OkParaContactar)
                                    {
                                        totalOks++;
                                    }

                                    percentagemOks = (totalOks * 100) / totalRecom;
                                }

                                <span title="@percentagemOks% correspondente ao total de OK's face ao total de recomendações">@percentagemOks%</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Racios</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p>
                            <b>Ok's/ Demo: </b>
                            @{
                                int contDemos = demo.Count();
                                int contOks = 0;
                                int racioOksPorDemo;

                                foreach (var item in recom)
                                {
                                    if (item.OkParaContactar)
                                    {
                                        contOks++;
                                    }
                                }

                                try
                                {
                                    racioOksPorDemo = contOks / contDemos;
                                }
                                catch (Exception)
                                {

                                    racioOksPorDemo = 0;
                                }

                                <span>@racioOksPorDemo</span>
                            }
                        </p>
                        <p>
                            <b>Recomendações/ Cliente:</b>
                            @{
                                int media;
                                try
                                {
                                    media = recom.Count() / clt.Count();
                                }
                                catch (Exception)
                                {

                                    media = 0;
                                }
                                <span>@media</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Eventos</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            @{

                                <tr>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Tipo evento
                                    </th>
                                    <th>
                                        Data
                                    </th>
                                </tr>


                                <!--DEMOS-->
                                foreach (var item in demo)
                                {
                                    if (item.DataMarcacao == DateTime.Today || item.DataMarcacao == DateTime.Today.AddDays(1) || item.DataMarcacao == DateTime.Today.AddDays(2))
                                    {
                                        <tr>
                                            <td>@item.Cliente.NomeCliente</td>
                                            <td>@item.TipoVisita.NomeTipoVisita</td>
                                            <td>@item.DataMarcacao.ToShortDateString()</td>
                                            <td class="fa fa-eye"></td>
                                            <td><a class="fa fa-eye" href="~/Clientes/Details/@item.ClientId"></a></td>
                                        </tr>
                                    }

                                }

                                <!--AGENDAS-->
                                foreach (var agendaItem in agenda)
                                {
                                    if (!agendaItem.EstadoDoEvento)
                                    {
                                        if (agendaItem.DataEvento == DateTime.Today || agendaItem.DataEvento == DateTime.Today.AddDays(1) || agendaItem.DataEvento == DateTime.Today.AddDays(2))
                                        {
                                            <tr>
                                                <td>@agendaItem.Cliente.NomeCliente</td>
                                                <td>@agendaItem.DescricaoEvento</td>
                                                <td>@agendaItem.DataEvento.Value.ToShortDateString()</td>
                                                <td class="fa fa-calendar-o"></td>
                                                <td><a class="fa fa-eye" href="~/Clientes/Details/@agendaItem.ClientId"></a></td>
                                            </tr>
                                        }

                                    }
                                }


                                <!--ANIVERSÁRIOS-->
                                foreach (var cliente in clt)
                                {
                                    int BirthDay = 0;
                                    int BirthMonth = 0;

                                    try
                                    {
                                        BirthDay = cliente.DataNascimentoCliente.Value.Day;
                                        BirthMonth = cliente.DataNascimentoCliente.Value.Month;
                                    }
                                    catch (Exception)
                                    {


                                    }

                                    if (BirthDay == DateTime.Now.Day && BirthMonth == DateTime.Now.Month)
                                    {
                                        <tr>
                                            <td>@cliente.NomeCliente</td>
                                            <td>Aniversário</td>
                                            <td>Hoje</td>
                                            <td class="fa fa-birthday-cake"></td>
                                            <td><a class="fa fa-eye" href="~/Clientes/Details/@cliente.ClientId"></a></td>
                                        </tr>
                                    }

                                    if (BirthDay == DateTime.Today.AddDays(1).Day && BirthMonth == DateTime.Now.Month)
                                    {
                                        <tr>
                                            <td>@cliente.NomeCliente</td>
                                            <td>Aniversário</td>
                                            <td>Amanhã</td>
                                            <td class="fa fa-birthday-cake"></td>
                                            <td><a class="fa fa-eye" href="~/Clientes/Details/@cliente.ClientId"></a></td>
                                        </tr>
                                    }
                                }


                                <!--SMS'S-->
                                foreach (var demonstracao in demo)
                                {
                                    TimeSpan diffDays = (DateTime.Now.Date - demonstracao.DataMarcacao);
                                    string daysString = diffDays.TotalDays.ToString();
                                    int daysInt = Convert.ToInt32(daysString);

                                    if ((daysInt) >= 1 && !demonstracao.SmsAgradecimento)
                                    {
                                        <tr>
                                            <td>@demonstracao.Cliente.NomeCliente</td>
                                            <td>SMS agradecimento</td>
                                            <td>Enviar SMS</td>
                                            <td class="fa fa-comment-o"></td>
                                            <td>
                                                <a class="fa fa-eye" href="~/Demonstracoes/Details/@demonstracao.DemonstracaoId"></a>
                                            </td>
                                        </tr>
                                    }

                                    if (daysInt >= 4 && demonstracao.SmsAgradecimento && !demonstracao.SmsFollowUp && !demonstracao.SmsFechoCampanha)
                                    {
                                        <tr>
                                            <td>@demonstracao.Cliente.NomeCliente</td>
                                            <td>SMS FollowUp</td>
                                            <td>Enviar SMS</td>
                                            <td class="fa fa-comment-o"></td>
                                            <td>
                                                <a class="fa fa-eye" href="~/Demonstracoes/Details/@demonstracao.DemonstracaoId"></a>
                                            </td>
                                        </tr>
                                    }

                                    if (daysInt >= 7 && demonstracao.SmsAgradecimento && demonstracao.SmsFollowUp && !demonstracao.SmsFechoCampanha)
                                    {
                                        <tr>
                                            <td>@demonstracao.Cliente.NomeCliente</td>
                                            <td>SMS Fecho Campanha</td>
                                            <td>Enviar SMS</td>
                                            <td class="fa fa-comment-o"></td>
                                            <td>
                                                <a class="fa fa-eye" href="~/Demonstracoes/Details/@demonstracao.DemonstracaoId"></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }



                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Últimos Ok's</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Campanha</th>
                                    <th>Nome</th>
                                    <th>Data adição</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    var recomend = recom.ToList().OrderByDescending(d => d.DataOk);

                                    var counter = 1;

                                    foreach (var item in recomend)
                                    {
                                        var dataOk = item.DataOk;

                                        try
                                        {
                                            dataOk = item.DataOk;
                                        }
                                        catch (Exception)
                                        {

                                        }

                                        if (dataOk != null)
                                        {

                                            if (counter <= 5)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Cliente.NomeCliente
                                                    </td>
                                                    <td>
                                                        @item.NomeSr
                                                    </td>
                                                    <td>
                                                        @item.DataOk.Value.ToShortDateString()
                                                    </td>
                                                </tr>
                                            }

                                            counter += 1;
                                        }

                                    }


                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Últimos Ok's</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>



        <!-- /page content -->
    </div>
</div>

@section Scripts {


    <script src="https://code.highcharts.com/js/highcharts.js"></script>
    <script src="https://code.highcharts.com/js/modules/exporting.js"></script>

    <script>
        var recomAbril = 40;
        @*var oksAbril = @Html.Raw(Json.Encode(recom.Where(r => r.DataRecomendacao.Value.Month.Equals(4) && r.OkParaContactar)).Count());*@


        @*var recomAbril = @Html.Raw(Json.Encode(recom.Where(r => r.OkParaContactar && r.DataOk.Value.Month.Equals(4))));
        var oksAbril = @Html.Raw(Json.Encode(recom.Where(r => r.OkParaContactar && r.DataOk.Value.Month.Equals(4))));;
        var recomMaio = @Html.Raw(Json.Encode(recom.Where(r => r.OkParaContactar && r.DataOk.Value.Month.Equals(4))));
        var oksMaio = @Html.Raw(Json.Encode(recom.Where(r => r.OkParaContactar && r.DataOk.Value.Month.Equals(4))));;*@

        Highcharts.chart('container', {

            chart: {
                type: 'column'
            },

            title: {
                text: 'Styling axes and columns'
            },

            yAxis: [{
                className: 'highcharts-color-0',
                title: {
                    text: 'Recomendações'
                }
            }, {
                className: 'highcharts-color-1',
                opposite: true,
                title: {
                    text: 'Oks'
                }
            }],

            plotOptions: {
                column: {
                    borderRadius: 5
                }
            },

            series: [{
                data: [100, 70, 110, 90]
            }, {
                    data: [40, 15, 55, 28],
                yAxis: 1
            }]

        });
    </script>
}