@model rainbow.Domain.Client.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil.NomeEstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil.NomeEstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissao.NomeProfissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissao.NomeProfissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.TitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.TitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelemovelCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelemovelCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactoAlternativoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoAlternativoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimentoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimentoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdadeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdadeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostalCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostalCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElegivelParaRecrutamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElegivelParaRecrutamento)
        </dd>

    </dl>

    <p>@Html.ActionLink("Demos", "Details", "Demonstracoes", new { comp = Model.ClientId }, new { @class = "btn btn-success btn-small glyphicon glyphicon-plus" })</p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
