@model rainbow.Domain.Client.Cliente

@{
    ViewBag.Title = "Edit";
}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<style>
    .slow .toggle-group {
        transition: left 0.7s;
        -webkit-transition: left 0.7s;
    }

    .fast .toggle-group {
        transition: left 0.1s;
        -webkit-transition: left 0.1s;
    }

    .quick .toggle-group {
        transition: none;
        -webkit-transition: none;
    }

    .NomeField {
        max-width: 100%;
        display: block;
        width: 90%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .TitleSelector {
        margin-right: 5px;
        float: left;
        display: block;
        width: auto;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .DataNascimentoField {
        float: left;
        margin-right: 5px;
        display: block;
        width: auto;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .IdadeField {
        float: left;
        display: block;
        width: 75px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .MoradaField {
        max-width: 100%;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .TelemovelField {
        margin-right: 5px;
        float: left;
        display: block;
        width: auto;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .ContactoAlternativoField {
        float: left;
        display: block;
        width: auto;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .LocalidadeField {
        float: left;
        display: block;
        width: auto;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .CPField {
        margin-right: 5px;
        float: left;
        display: block;
        width: 100px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .Notas {
        max-width: 100% !important;
        min-height: 50px;
        float: left;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .Labels{
        width:20px;
        float:left;
        margin-left:1em;
        margin-right:1em;
        text-align:center;
    }
</style>


<h2>Edit</h2>


@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Cliente</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ClientId)

    <!--OUTROS-->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Cliente<span style="float: right;"><a href="#outros" style="color: white;" data-toggle="collapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></span></div>
            <div class="panel-body" id="outros">

                <button type="submit" class="btn btn-success">
                    <span class="fa fa-save"></span> Guardar
                </button>

                <a href="@Url.Action("Index","Clientes")" class="btn btn-small btn-warning">
                    <i class="ace-icon fa fa-ban"></i>
                    <span class="bold">Cancelar</span>
                </a>

                <input type="checkbox" data-toggle="toggle" value="@Model.ClienteRainbow" checked="@Model.ClienteRainbow" data-on="É cliente RB" data-off="Não é cliente RB" data-onstyle="success" data-offstyle="danger" data-style="slow">
                <input type="checkbox" data-toggle="toggle" value="@Model.ElegivelParaRecrutamento" checked="@Model.ElegivelParaRecrutamento" data-on="Eligivel para recrutar" data-off="Não eligivel para recrutar" data-onstyle="success" data-offstyle="danger" data-style="slow">
                <div style="float:right;">@Html.EditorFor(model => model.RecomendadoPor, new { htmlAttributes = new { @class = "form-control", placeholder = "Recomendado por", title = "Recomendado por" } })</div>

            </div>
        </div>
    </div>

    <!--DADOS GERAIS-->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="panel panel-primary">

            <div class="panel-heading">Dados Gerais<span style="float: right;"><a href="#dadosgerais" style="color: white;" data-toggle="collapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></span></div>
            <div class="panel-body" id="dadosgerais">

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("TitleId", null, htmlAttributes: new { @class = "form-control TitleSelector" })
                        @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control NomeField", placeholder = "Nome cliente" } })
                        @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="fa fa-birthday-cake fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DataNascimentoCliente, @"{0:yyyy\/MM\/dd}", new { @class = "datepicker form-control DataNascimentoField", placeholder = "Data nascimento aaaa/mm/dd" })
                        @Html.EditorFor(model => model.IdadeCliente, new { htmlAttributes = new { @class = "form-control IdadeField" } })
                        @*@Html.EditorFor(model => model.DataNascimentoCliente, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.DataNascimentoCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.EstadoCivilId, "EstadoCivilId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="fa fa-handshake-o fa-2x Labels col-md-2""></p>
                    <div class="col-md-10">
                        @Html.DropDownList("EstadoCivilId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstadoCivilId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.ProfissaoId, "ProfissaoId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="fa fa-id-badge fa-2x Labels col-md-2""></p>
                    <div class="col-md-10">
                        @Html.DropDownList("ProfissaoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProfissaoId, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--CONTACTOS-->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Contactos<span style="float: right;"><a href="#contactos" style="color: white;" data-toggle="collapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></span></div>
            <div class="panel-body" id="contactos">

                <div class="form-group">
                    @*@Html.Label(" ", htmlAttributes: new { @class = "col-md-2 fa fa-mobile fa-2x Labels" })*@
                    <p class="fa fa-mobile fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TelemovelCliente, new { htmlAttributes = new { @class = "form-control TelemovelField", placeholder = "Telemóvel", title="Telemóvel cliente" } })
                        @Html.ValidationMessageFor(model => model.TelemovelCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.Label(" ", htmlAttributes: new { @class = "col-md-2 fa fa-phone fa-2x Labels" })*@
                    <p class="fa fa-phone fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactoAlternativoCliente, new { htmlAttributes = new { @class = "form-control LocalidadeField", placeholder = "Contacto alternativo", title = "Contacto alternativo" } })
                        @Html.ValidationMessageFor(model => model.ContactoAlternativoCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.EmailCliente, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @*@Html.Label(" ", htmlAttributes: new { @class = "col-md-2 fa fa-at fa-2x Labels" })*@
                    <p class="fa fa-at fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailCliente, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", title = "Email" } })
                        @Html.ValidationMessageFor(model => model.EmailCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.MoradaCliente, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @*@Html.Label(" ", htmlAttributes: new { @class = "col-md-2 fa fa-map-marker fa-2x Labels" })*@
                    <p class="fa fa-map-marker fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MoradaCliente, new { htmlAttributes = new { @class = "form-control MoradaField", placeholder = "Morada", title = "Morada" } })
                        @Html.ValidationMessageFor(model => model.MoradaCliente, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Localidade, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @*@Html.Label(" ", htmlAttributes: new { @class = "col-md-2 fa fa-map-marker fa-2x Labels" })*@
                    <p class="fa fa-map-marker fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Localidade, new { htmlAttributes = new { @class = "form-control LocalidadeField", placeholder = "Localidade", title = "Localidade" } })
                        @Html.ValidationMessageFor(model => model.Localidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="fa fa-map-marker fa-2x Labels col-md-2"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CodigoPostalCliente, new { htmlAttributes = new { @class = "form-control CPField", placeholder = "CP", title = "Código postal" } })
                        @Html.ValidationMessageFor(model => model.CodigoPostalCliente, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--DADOS BANCÁRIOS-->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Dados bancários<span style="float: right;"><a href="#dadosbancarios" style="color: white;" data-toggle="collapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></span></div>
            <div class="panel-body" id="dadosbancarios">

                <div class="form-group">
                    @*@Html.LabelFor(model => model.NIB, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="fa fa-university fa-2x Labels"></p>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NIB, new { htmlAttributes = new { @class = "form-control", placeholder = "IBAN" } })
                        @Html.ValidationMessageFor(model => model.NIB, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--NOTAS-->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Notas<span style="float: right;"><a href="#notas" style="color: white;" data-toggle="collapse"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a></span></div>
            <div class="panel-body" id="notas">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Obs, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Obs, new { htmlAttributes = new { @class = "form-control Notas", placeholder = "NOTAS" } })
                        @Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>*@
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>

        $(document).ready(function () {

            // Connect to 'change' event in order to toggle glyphs

            $("[type='checkbox']").change(function () {

                if ($(this).prop('checked')) {

                    $(this).prev().addClass('glyphicon-ok-circle');

                    $(this).prev().removeClass('glyphicon-unchecked');

                }

                else {

                    $(this).prev().removeClass('glyphicon-ok-circle');

                    $(this).prev().addClass('glyphicon-unchecked');

                }

            });

        });

    </script>


}
