@model IEnumerable<rainbow.Domain.Client.Cliente>


@{
    ViewBag.Title = "Dashboard";
}



<!-- Bootstrap -->
<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Datatables -->
<link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="../build/css/custom.min.css" rel="stylesheet">


@using (Html.BeginForm())
{
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Clientes <small>lista de clientes com demos executadas</small></h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Clientes <small>resumo</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @*<p class="text-muted font-13 m-b-30">
                                    The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                                </p>*@
                            <table id="datatable-buttons" class="table table-striped table-bordered">

                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Telemóvel</th>
                                        <th>Idade</th>
                                        <th>Recrutamento</th>
                                        <th>Ok's</th>
                                        <th>Demos</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td id="nome">



                                                <a href="@Url.Action("Details", "Clientes", new { id = item.ClientId })" title="Ver @item.NomeCliente">
                                                    @Html.DisplayFor(modelItem => item.NomeCliente)


                                                    <span class="badge bg-green pull-right">
                                                        <i class="fa fa-eye" aria-hidden="true" style="float:right"></i>

                                                    </span>
                                                </a>

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TelemovelCliente)
                                            </td>
                                            <td style="text-align:center;">
                                                @Html.DisplayFor(modelItem => item.IdadeCliente)
                                            </td>

                                            <td style="text-align:center;">
                                                @if (item.ElegivelParaRecrutamento)
                                                {
                                                    <img title="Eligível para recrutar" style="width:25px;" src="~/Content/Images/green-light.png" />
                                                }
                                                else
                                                {
                                                    <img title="Não Eligível para recrutar" style="width:25px;" src="~/Content/Images/red-light.png" />
                                                }
                                            </td>

                                            <td>
                                                @{

                                                    int numeroOks = 0;


                                                    foreach (var recomendacao in item.Recomendacao)
                                                    {
                                                        if (recomendacao.OkParaContactar)
                                                        {
                                                            numeroOks++;
                                                        }
                                                    }

                                                    if (numeroOks > 0)
                                                    {
                                                        <p class="popupimage" style="text-align:center;">@numeroOks</p>


                                                    }
                                                    else
                                                    {
                                                        <p style="text-align:center;color:red;">Sem Ok's</p>
                                                    }
                                                }
                                            </td>

                                            <td style="text-align:center;">


                                                @{

                                                    foreach (var demo in item.Demonstracao)
                                                    {
                                                        bool fechoManual = false;
                                                        int recomendacoesOk = 0;
                                                        int recomendacoesComDemosTerminadas = 0;


                                                        foreach (var recomendacao in item.Recomendacao)
                                                        {
                                                            if (demo.DemoUniqueId == recomendacao.DemonstracaoGuid)
                                                            {
                                                                if (demo.DemoStatus)
                                                                {
                                                                    fechoManual = true;
                                                                }

                                                                if (recomendacao.OkParaContactar)
                                                                {
                                                                    recomendacoesOk++;
                                                                }

                                                                if (recomendacao.OkParaContactar && recomendacao.DemoExecutada)
                                                                {
                                                                    recomendacoesComDemosTerminadas++;
                                                                }

                                                            }

                                                        }

                                                        if (recomendacoesOk == recomendacoesComDemosTerminadas && recomendacoesOk > 0 || fechoManual)
                                                        {
                                                            <img style="width:25px;" title="Cliente com demos fechadas" src="~/Content/Images/finished_flag.png" />

                                                        }
                                                        else
                                                        {
                                                            <img style="width:25px;" title="Cliente com demos abertas" src="~/Content/Images/unfinished_flag.png" />
                                                        }

                                                    }
                                                }
                                            </td>

                                            <td>
                                                @{
                                                    foreach (var demo in item.Demonstracao)
                                                    {
                                                        if (demo.ClienteComprou)
                                                        {
                                                            <img src="~/Content/Images/rainbow-image.png" width="20px;" />
                                                        }
                                                    }
                                                }
                                            </td>


                                        </tr>
                                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
                                                    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

        <script>
            $().DataTable();
        </script>

    }
