@using Microsoft.AspNet.Identity

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>@Html.ActionLink("Estados Civis", "Index", "EstadosCivis")</li>
        <li>@Html.ActionLink("Marcadores", "Index", "Marcadores")</li>
        <li>@Html.ActionLink("Métodos Pagamento", "Index", "MetodosDePagamentoP")</li>
        <li>@Html.ActionLink("Profissões", "Index", "Profissoes")</li>
        <li>@Html.ActionLink("Relações entre contactos", "Index", "RelacoesEntreContactos")</li>
        <li>@Html.ActionLink("Tipos Animais", "Index", "TiposAnimais")</li>
        <li>@Html.ActionLink("Tipos Assistência", "Index", "TiposAssistencia")</li>
        <li>@Html.ActionLink("Tipos Material", "Index", "TiposDeMaterial")</li>
        <li>@Html.ActionLink("Tipos Membro de Família", "Index", "TiposMembroFamilia")</li>
        <li>@Html.ActionLink("Tipos Visita", "Index", "TiposVisita")</li>
    </ul>
</div>